doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title List Of Users
  body
    div(style="margin:0 auto; border:1px solid gray; width:90%; height:100%; padding:32px;")
      p
        a(href="/") Go Back
      h1 List Of Users
      a(href="/newuserform/")
        button Create New User
      table(style='width:100%', border='1')
        tr
          th First Name 
            a(href="/users/sort/fname/dsc")
              button Sort &#8595;
            a(href="/users/sort/fname/asc")
              button Sort &#8593;
          th Last Name 
            a(href="/users/sort/lname/dsc")
              button Sort &#8595;
            a(href="/users/sort/lname/asc")
              button Sort &#8593;
          th Email
          th Age 
            a(href="/users/sort/age/dsc")
              button Sort &#8595;
            a(href="/users/sort/age/asc")
              button Sort &#8593;
          th Edit User
          th Delete User
        each user in users
          tr
            td #{user.firstName}
            td #{user.lastName}
            td #{user.email}
            td #{user.age}
            td 
              a(href="/edituser/"+user._id)
                button Edit
            td 
              a(href="/deleteuser/"+user._id)
                button Delete